<navigation></navigation>

<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <form  class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">You are logged in as:</label>
          <p class="form-control-static">{{ vm.user.email }}</p>
        </div>
	<div class="filterPostingTable">
	    
		<table>
		    <tr ng-repeat="posting in postings | filter:{userID: vm.user._id}:true">
			<td>{{posting.title}}</td>
			<td><a href="#/editPosting/{{posting._id}}">Edit</a></td>
			<td><a href="#/posting/{{posting._id}}">View</a></td>
		    </tr>
		</table>
	   
	</div>
      </form>

    </div>

  </div>
</div>
